<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form  action="/login" method="POST">
        <p>
            <h3>Login Account</h3>
        </p>
        <table>
            <tr>
                <td>Email</td>
                <td><input type='email' name='txtemail'></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type='password' name='txtpass'></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>